.tiptap-combobox-popover {
  --tt-combobox-bg-color: var(--white);
  --tt-combobox-border-color: var(--tt-gray-light-a-100);
  --tt-combobox-text-color: var(--tt-gray-light-a-600);

  .dark & {
    --tt-combobox-border-color: var(--tt-gray-dark-a-50);
    --tt-combobox-bg-color: var(--tt-gray-dark-50);
    --tt-combobox-text-color: var(--tt-gray-dark-a-600);
  }

  --padding: 0.375rem;
  --border-width: 1px;

  isolation: isolate;
  z-index: 50;
  border-radius: calc(
    var(--padding) + var(--tt-radius-lg) + var(--border-width)
  );
  border: var(--border-width) solid var(--tt-combobox-border-color);
  background-color: var(--tt-combobox-bg-color);
  color: var(--tt-combobox-text-color);
  padding: var(--padding);
  box-shadow: var(--tt-shadow-elevated-md);
  outline: none;

  max-width: 16rem;
  max-height: var(--popover-available-height);
  overflow-y: auto;
  margin-block: 0.375rem;

  &:has(> .tiptap-combobox-list) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  > .tiptap-combobox-list {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  &:has(> .tiptap-combobox-list:empty) {
    display: none !important;
  }
}

.tiptap-combobox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
  user-select: none;
}

.group[data-disabled="true"] .tiptap-combobox-label {
  opacity: 0.5;
  pointer-events: none;
}

.tiptap-combobox-label:has(~ input:disabled),
input:disabled ~ .tiptap-combobox-label {
  opacity: 0.5;
  cursor: not-allowed;
}

.tiptap-combobox-group {
  display: none;

  &:has([role="menuitem"]),
  &:has([role="option"]) {
    display: block;
  }
}

.tiptap-combobox-group-label {
  --tt-label-color: var(--tt-gray-light-a-800);

  .dark & {
    --tt-label-color: var(--tt-gray-dark-a-800);
  }

  margin-top: 0.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: normal;
  color: var(--tt-label-color);
}

.tiptap-combobox-item {
  width: 100%;
}
